.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  height: 100vh;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}
.text-container {
  margin: 20px;
}
.head {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 35px;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .head {
    font-size: 64px;
    width: 600px;
  }
}
.para {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
  width: 400px;
}
@media screen and (min-width: 768px) {
  .para {
    font-size: 30px;
    width: 700px;
  }
}
.job-button {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .job-button {
    padding: 15px;
    width: 150px;
    font-size: 20px;
  }
}
